In [1]:
print("Hello World!")

Hello World!

In [2]:
# A Syntactic error is when Python does not understand your code
# Example: NameError
frint("Hello World!")

NameError: name 'frint' is not defined

In [3]:
#A Semantic error is when your logic is wrong
print("Hello world 102")
# But the output should be : Hello world 101

Hello world 102

Data Types 
# Integers, Floats, Strings, Booleans

In [4]:
a, b, c, d = 10, 11.567, "python", True
print(a) # int
print(b) # float
print(c) # str
print(d) # bool

10
11.567
python
True

Type casting

In [ ]:
# int to float 
print(float(10))

# float to int 
print(int(11.567))

# int to bool
print(bool(0), bool(5), bool(4.65), bool(-5))

# bool to int
print(int(True), int(False))

# str to int & float (Only possible using numbers not with letters)
print(int('5'), float('6.7465'))

# Character to integers, float not possible 
print(int("A"))

10.0
11
False True True True
1 0
5 6.7465

ValueError: invalid literal for int() with base 10: 'A'

Types using type keyword.

In [9]:
print(type(10))
print(type("python"))
print(type(True))
print(type(10.865))
print(type([10,20,30,'py']))

<class 'int'>
<class 'str'>
<class 'bool'>
<class 'float'>
<class 'list'>