# Module 1 : Learning Objectives  
After completing this section I will:  

-Understand the available data types in Python  
-Be familiar with Python expressions and variables  
-Be able to perform basic operations on strings

Getting Started with Python

In [1]:
print("Hello World!")

Hello World!

In [2]:
# A Syntactic error is when Python does not understand your code
# Example: NameError
frint("Hello World!")

NameError: name 'frint' is not defined

In [3]:
#A Semantic error is when your logic is wrong
print("Hello world 102")
# But the output should be : Hello world 101

Hello world 102

Data Types :
Integers, Floats, Strings, Booleans

In [4]:
a, b, c, d = 10, 11.567, "python", True
print(a) # int
print(b) # float
print(c) # str
print(d) # bool

10
11.567
python
True

Type casting

In [ ]:
# int to float 
print(float(10))

# float to int 
print(int(11.567))

# int to bool
print(bool(0), bool(5), bool(4.65), bool(-5))

# bool to int
print(int(True), int(False))

# str to int & float (Only possible using numbers not with letters)
print(int('5'), float('6.7465'))

# Character to integers, float not possible 
print(int("A"))

10.0
11
False True True True
1 0
5 6.7465

ValueError: invalid literal for int() with base 10: 'A'

Types using type keyword.

In [9]:
print(type(10))
print(type("python"))
print(type(True))
print(type(10.865))
print(type([10,20,30,'py']))

<class 'int'>
<class 'str'>
<class 'bool'>
<class 'float'>
<class 'list'>

Expressions & Variables

In [9]:
# Expressions

print(10/3)
print(10+4*3/6)
print(10%3)

# Integer division (It gives round value)
print(10//3)

# Variables
x = 20
print(x / 3)

x = 32
print(x)

3.3333333333333335
12.0
1
3
6.666666666666667
32

In [7]:
# Normal division vs Integer Division
# Normal division:
print(10/3)

# Integer division:
print(10//3)

3.3333333333333335
3

Strings in python

In [3]:
name = "Michael Jackson"
print(name[3])
print(name[0])

# Negative indexing: Starts with last index of the positive index
print(name[-1])

h
M

Indexing in python

In [ ]:
# Character:    M     i     c     h     a     e     l           J     a     c     k     s     o     n
# Positive:     0     1     2     3     4     5     6     7     8     9    10    11    12    13    14
# Negative:   -15   -14   -13   -12   -11   -10    -9    -8    -7    -6    -5    -4    -3    -2    -1

In [19]:
# String Slicing 
name = "Michael Jackson"
# [Starting index : Ending index + 1] 
# [Starting index: Ending index: Number of index to be jump]

print(name[0:7])
print(name[8:15])
print(name[:7])
print(name[5:])

# Reverse using slicing 
# Character:    M     i     c     h     a     e     l           J     a     c     k     s     o     n
# Positive:     0     1     2     3     4     5     6     7     8     9    10    11    12    13    14
# Negative:   -15   -14   -13   -12   -11   -10    -9    -8    -7    -6    -5    -4    -3    -2    -1

Michael
Jackson
Michael
el Jackson

In [18]:
# String: Stride
# [Starting index: Ending index: Number of index to be jump]
name = "Michael Jackson"
print(name[::2]) # Every second value 
print(name[::4]) # Every fourth value 
print(name[3: 13: 2])

McalJcsn
MaJs
he ak

In [25]:
# Reverse using slicing 
# Character:    M     i     c     h     a     e     l           J     a     c     k     s     o     n
# Positive:     0     1     2     3     4     5     6     7     8     9    10    11    12    13    14
# Negative:   -15   -14   -13   -12   -11   -10    -9    -8    -7    -6    -5    -4    -3    -2    -1
print(name[::-1])

noskcaJ leahciM

In [27]:
# String: Methods 
print(len(name))

15

In [29]:
# String concatenation 
statement = name + "is the best."
print(statement)

Michael Jacksonis the best.

In [32]:
# Strings are immutable 
# We can't change the value of index of a string 
# But we can replace the string with another string 
name = "Hridoy Hasan"
print(name)

Hridoy Hasan

Escape sequence in python string

In [38]:
print("My name is Hridoy Hasan & \nI'm learning python.") # New line
print("My name is Hridoy Hasan & \tI'm learning python.") # Tab = Four spcaces 
print("My name is Hridoy Hasan & \\I'm learning python.") # Double backslash for printing single backslash 
print(r"My name is Hridoy Hasan & \I'm learning python.") # r infront of string printing single backslash

My name is Hridoy Hasan &
I'm learning python.
My name is Hridoy Hasan & 	I'm learning python.
My name is Hridoy Hasan & \I'm learning python.
My name is Hridoy Hasan & \I'm learning python.

String Methods

In [44]:
name = "Hridoy Hasan"
print(name.upper())
print(name.lower())
print(name.replace("Hasan","Nasah"))
print(name.find("oy")) # It gives the first index of the substring if it can find the substring 
print(name.find("oon")) # It gives -1 if it can't find the substring

HRIDOY HASAN
hridoy hasan
Hridoy Nasah
4
-1

In [45]:
Letters="ABCDEFGHIJK"
print(Letters[:4])

ABCD

In [46]:
Good="GsoAo+d"
print(Good[::2])

Good

In [ ]:
print("uppercase".upper())